
*{
 margin: 0;
 font-family: 'Roboto', sans-serif;

}
#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

}

body{
  background-color: rgba(166, 166, 235, 0.404);
}


.container-title{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(137, 137, 216, 0.404);
  text-align: center;
}

.answer{
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: rgb(71, 71, 158);
  border: 2px solid rgba(255, 255, 255, 0.247);
  display: flex;
  
 
 
}

.margin > button{
 width: 300px;
}

.answers-multipole{
  align-items: center;
  background-color: rgb(71, 71, 158);
  justify-content: center;
  
}


p{
  padding: 30px;
}

.the-ans{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  
  
}


.the-ans > div{

  border: 2px solid rgb(135, 135, 229);
}


.change{
  width: 300px;
  margin: 0 auto
}

#root > .change{
  align-content: center;
  justify-content: center;
}

.se{
  color: rgb(218, 111, 79);
}